
<app-user-profile-menu></app-user-profile-menu>

<div class="conteneur ">
  <div class="sidebar">
    <app-side-bar-prof></app-side-bar-prof>
  </div>
  <main class="m-1 ">
    <h3>Rapports de stage non encore validés</h3>
    <div class="row "> 
      @if(listStagesNonValide.length!=0){
       @for (stage of listStagesNonValide; track $index) {
         <div  class="col-12  rapport ">
            <div class="card h-100 flex-row align-items-center p-3 ">
              <!-- Partie gauche : informations du rapport -->
              <div class="flex-grow-1">
                <h5 class="card-title">{{ stage.intituleSujet }}</h5>
                <p class="card-text">{{ stage.descriptionSujet }}</p>
                <p class="card-text"><small class="text-muted">Date de soumission : {{ stage.dateDepot | date :'dd/MM/yyyy : hh:mm' }}</small></p>
            
              </div>

              <!-- Partie droite : actions -->
               @if (clickStageValideTemp && idStageClick===stage.id) {
                <div class="text-success">
                  Stage Validé avec succès
                </div>
               }@else {
                <div class="d-flex flex-column justify-content-between ms-4">
                    <button class="btn btn-outline-primary mb-2" (click)="telechargerRapport(stage.id)">
                      <i class="fa-solid fa-download me-2" ></i>Télécharger rapport
                    </button>
                    <button class="btn btn-success" (click)="validerRapport(stage.id)">
                      <i class="fa-solid fa-check me-2" ></i>Valider rapport
                    </button>
                  </div>
                
               }
           
            </div>
        </div>

       }
       
      }@else {    
        <div class="d-flex justify-content-center align-items-center">
          <div class="alert alert-warning text-center w-50 my-5" role="alert">
            <small >Vous avez validé tous les rapports</small>
          </div>
        </div>
      }
     
     </div>



     <!-- drop down pour le filtre -->
     <div class="dropdowns ">
                  <!-- DropDown pour le type de stage -->
              <div class="dropdown m-2">                
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Type de Stage
                </button>
                <ul class="dropdown-menu">
                  <li (click)="filtrerRapportsParType('INITIATION')"><a class="dropdown-item">Initiation</a></li>
                  <li (click)="filtrerRapportsParType('PFA')"><a class="dropdown-item">PFA</a></li>
                  <li (click)="filtrerRapportsParType('PFE')"><a class="dropdown-item">PFE</a></li>
                  <li (click)="filtrerRapportsParType('none')"><a class="dropdown-item">none</a></li>
                </ul>
              </div>

                <!-- DropDown pour l'année du stage -->
              <div class="dropdown m-2">                
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Année du dépôt
                </button>
                <ul class="dropdown-menu">
                  <li (click)="filtrerParAnneeDepot('2025')"><a class="dropdown-item" >2025</a></li>
                  <li (click)="filtrerParAnneeDepot('2024')"><a class="dropdown-item" >2024</a></li>
                  <li (click)="filtrerParAnneeDepot('2023')"><a class="dropdown-item" >2023</a></li>
                  <li (click)="filtrerParAnneeDepot('2022')"><a class="dropdown-item" >2022</a></li>
                  <li (click)="filtrerParAnneeDepot('2021')"><a class="dropdown-item" >2021</a></li>
                  <li (click)="filtrerParAnneeDepot('2020')"><a class="dropdown-item" >2020</a></li>
                  <li (click)="filtrerParAnneeDepot('none')"><a class="dropdown-item" >none</a></li>
                </ul>
              </div>

              </div>



              <!-- Pour l'historique des stages -->
     <div class="table-div" >
       
      <table class="table">
        <thead>
          <tr>
              <th></th>
              <th>Sujet du stage</th>
              <th>Type de stage</th>
              <th>Date de dépot</th>
              <th>Rapport de stage</th>
          </tr>
        </thead>
        <tbody>
          @for (stage of listStagesValides; track $index) {
            <tr>
                <th scope="row">{{$index+1}}</th>
                <td>{{stage.intituleSujet}}</td>
                <td>{{stage.typeStage}}</td>
                <td>{{stage.dateDepot}}</td>
                <td>
                   <button class="btn btn-outline-primary mb-2" (click)="telechargerRapport(stage.id)">
                      <i class="fa-solid fa-download me-2" ></i>Télécharger
                    </button>
                </td>
              </tr>
          }
         
          
        </tbody>
    </table>
     </div>

  </main>
</div>



<div class="modal" tabindex="-1" #voirevaluationmodal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Evaluation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        @if(evaluationDepotSelectionne === undefined || evaluationDepotSelectionne===null){
          <p>No Evaluation Yet !!</p>
        }@else {
          <table class="table brdered my-4">
            <tbody>
              <tr>
                <td>Note</td>
                <td>{{evaluationDepotSelectionne.note}}</td>
              </tr>
              <tr>
                <td>Comment</td>
                <td>{{evaluationDepotSelectionne.commentaire}}</td>
              </tr>
            </tbody>
          </table>
        }
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>      
      </div>
    </div>
  </div>
</div>



<div class="modal" tabindex="-1" #addevaluationmodal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Evaluation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalAddEval()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAddEvaluation">
          <div class="m-3">
            <input type="number" class="form-control" placeholder="Donnez une note" formControlName="note">
          </div>
          <div class="m-3">
            <textarea class="form-control" placeholder="Donnez un commentaire ..." formControlName="comment"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalAddEval()">Close</button>
          <button type="button" class="btn btn-primary" >Add</button><!-- (click)="saveEvaluation()"-->
      </div>
    </div>
  </div>
</div>
