<div class="card-container  pb-5">
    <div class="card d-flex justify-content-center align-items-center">
        <img src="img/icon1.jpg" class="icon" alt="Icon">
        <h3>ESPACE ENSEIGNANTS</h3>
        <a routerLink="/espace-professeur" class="login">Login</a> 
    </div>

    <div class="card d-flex justify-content-center align-items-center">
        <img src="img/icon2.jpg" class="icon" alt="Icon">
        <h3>ESPACE ÉTUDIANTS</h3>
        <a routerLink="/login-form" class="login">Login</a>
    </div>

    <div class="card  d-flex justify-content-center align-items-center">
        <img src="img/icon3.png" class="icon" alt="Icon">
        <h3>ESPACE ADMINISTRATION</h3>
        <a routerLink="/admin-home" class="login">Login</a>
    </div>
</div>
