<div class="dashboard-container">

  <aside class="sidebar"> 
      <h2 class="sidebar-title">GESTION DES STAGES</h2>
      <nav class="nav-links">
        <a class="nav-item" routerLink="/espace-etudiant">
          <i class="icon">🏚️</i>
          <span class="text">Accueil</span>
        </a>
        <a class="nav-item" routerLink="/dashboard"> 
          <i class="icon">🏠</i>
          <span class="text">Dashboard</span>
        </a>
        <a class="nav-item" routerLink="/rapports"> 
          <span class="text">Rapports</span>
        </a>
        <a class="nav-item" routerLink="/students/list"> 
          <span class="text">Gestion des étudiants</span>
        </a>
        <a class="nav-item" routerLink="/enseignant-management"> 
          <i class="icon">👨‍🏫</i>
          <span class="text">Gestion des enseignants</span>
        </a>
        <a class="nav-item" routerLink="/archive"> 
          <i class="icon">📂</i>
          <span class="text">Archivage des rapports</span>
        </a>
        <a class="nav-item" routerLink="/chat">
          <i class="icon">💬</i>
          <span class="text">Chat</span>
        </a>
        <a class="nav-item" routerLink="/parametrage"> 
          <i class="icon">⚙️</i>
          <span class="text">Paramétrage</span>
        </a>
      </nav>
    </aside>
  

    <main class="main-content">
      <header class="top-bar">
        <div class="search-container">
          <input type="text" placeholder="Search for datas & reports..." class="search-input">
          <button class="search-btn">🔍</button>
        </div>
        <div class="top-bar-icons">
          <div class="notifications">
            <i class="icon">🔔</i>
            <span class="badge">+99</span>
          </div>
          <div class="theme-toggle">
            <i class="icon" id="theme-icon">🌙</i>
          </div>
          <div class="user-profile">
            <span class="user-name">Admin</span>
            <div class="user-avatar">👤</div>
          </div>
        </div>
  
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
          <div class="dropdown-header">
            <div class="user-avatar-large">👤</div>
            <div class="user-info">Admin</div>
            <div class="user-email">admin.usmba.ac.ma</div>
          </div>
          <div class="dropdown-item">
            <i class="icon">🖼️</i>
            <span>Modifier la photo</span>
          </div>
          <div class="dropdown-item">
            <i class="icon">🔑</i>
            <span>Changer le mot de passe</span>
          </div>
          <div class="dropdown-item">
            <i class="icon">🚪</i>
            <span>Déconnexion</span>
          </div>
        </div>
      </header>
  
    </main>
  </div>