.div-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh; /* Occupe toute la hauteur de la vue */
 
  background-color: #fcfcfc;
  box-shadow: var(--shadow-md); /* Optionnel pour un effet visuel */
  z-index: 1000; /* Assure que la sidebar reste au-dessus du contenu */
} 
  
  .main-content {
    flex-grow: 1;
    background: #e9ecf0;
    padding: 20px;
  }


















 
.edit-student-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 /*

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-right: 10px;
}
*/