<div class="card-container">
    <div class="card">
        <img src="img/icon1.jpg" class="icon" alt="Icon">
        <h3>ESPACE ENSEIGNANTS</h3>
        <a href="#" class="login">Login</a>
    </div>

    <div class="card">
        <img src="img/icon2.jpg" class="icon" alt="Icon">
        <h3>ESPACE ÉTUDIANTS</h3>
        <a href="#" class="login">Login</a>
    </div>

    <div class="card">
        <img src="img/icon3.png" class="icon" alt="Icon">
        <h3>ESPACE ADMINISTRATION</h3>
        <a href="#" class="login">Login</a>
    </div>
</div>
