.div-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .sidebar{
    background-color: #CEDDDE;
  } 
  
  .main-content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 20px;
  }

