<!-- <app-user-profile-menu></app-user-profile-menu> -->
<div class="dashboard-container">
 <div class="sidebar">
  <app-side-bar-prof></app-side-bar-prof>
 </div>
  <main class="m-3">
    <header class="top-bar">
      <div class="search-container">
        <input type="text" placeholder="Search for datas & reports..." class="search-input">
        <button class="search-btn">🔍</button>
      </div>
      <div class="user-profile" (click)="toggleDropdown()">
        <span class="user-name">Asmae Aouassar</span>
        <div class="user-avatar">
          <img [src]="profilePicture" alt="Photo de profil" class="profile-image" />
        </div>
      </div>
      <div class="dropdown-menu" [class.show]="isDropdownOpen">
        <div class="dropdown-header">
          <div class="user-avatar-large">
            <img [src]="profilePicture" class="profile-image" />
          </div>
          <div class="user-info">Asmae Aouassar</div>
          <div class="user-email">asmae.aouassar.usmba.ac.ma</div>
        </div>
        <a class="dropdown-item" (click)="triggerFileInput()">
          <i class="icon">📷</i>
          <span>Modifier la photo</span>
        </a>
        <input type="file" id="fileInput" (change)="updateProfilePicture($event)" accept="image/*" style="display: none;">
        
        <a class="dropdown-item" routerLink="/changerPassword">
          <i class="icon">🔒</i>
          <span>Changer le mot de passe</span>
        </a>
        <a class="dropdown-item" (click)="logout()">
          <i class="icon">🚪</i>
          <span>Déconnexion</span>
        </a>
      </div>
    </header>

    <!-- <section class="welcome-section">
      <div class="welcome-message">Hi Asmae ! Welcome Back</div>
      <button class="add-stage-btn" (click)="navigateToAjouterStage()">+ AJOUTER UN ETUDIANT</button>
    </section> -->

    <div class="row ">
      <div *ngFor="let etudiant of listEtudiantsEncadre" class="col d-flex justify-content-center align-items-center ">
       <div class="image-card  m-5">
        <img *ngIf="etudiant.image" [src]="'data:image/jpeg;base64,' + etudiant.image" alt="Student Image" class="img-fluid floating-image">
        <div class="info-div">
          <table class="table">
            <tbody>
              <tr>
                <td class="info-name">{{etudiant.nom}}</td>
              </tr>
              <tr>
                <td>{{etudiant.prenom}}</td>
              </tr>
              <tr>
                <td>{{etudiant.email}}</td>
              </tr>
              <tr>
                <td>{{etudiant.telephone}}</td>
              </tr>
              <tr>
                <td>{{etudiant.filiere}}</td>
              </tr>
              <tr>
                <td class="info-anneeEtude">{{etudiant.anneeEtude}}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
       </div>
      </div>
    </div>
  </main>

   

</div>