<app-user-profile-menu></app-user-profile-menu>

<!-- <app-user-profile-menu></app-user-profile-menu> -->
<div class="dashboard-container">
 <div class="sidebar">
  <app-side-bar-prof></app-side-bar-prof>
 </div>
  <main>
    <!-- <header class="top-bar">
      <div class="search-container">
        <input type="text" placeholder="Search for datas & reports..." class="search-input">
        <button class="search-btn">🔍</button>
      </div>
      <div class="user-profile" (click)="toggleDropdown()">
        <span class="user-name">Asmae Aouassar</span>
        <div class="user-avatar">
          <img [src]="profilePicture" alt="Photo de profil" class="profile-image" />
        </div>
      </div>
      <div class="dropdown-menu" [class.show]="isDropdownOpen">
        <div class="dropdown-header">
          <div class="user-avatar-large">
            <img [src]="profilePicture" class="profile-image" />
          </div>
          <div class="user-info">Asmae Aouassar</div>
          <div class="user-email">asmae.aouassar.usmba.ac.ma</div>
        </div>
        <a class="dropdown-item" (click)="triggerFileInput()">
          <i class="icon">📷</i>
          <span>Modifier la photo</span>
        </a>
        <input type="file" id="fileInput" (change)="updateProfilePicture($event)" accept="image/*" style="display: none;">
        
        <a class="dropdown-item" routerLink="/changerPassword">
          <i class="icon">🔒</i>
          <span>Changer le mot de passe</span>
        </a>
        <a class="dropdown-item" (click)="logout()">
          <i class="icon">🚪</i>
          <span>Déconnexion</span>
        </a>
      </div>
    </header> -->

    <!-- <section class="welcome-section">
      <div class="welcome-message">Hi Asmae ! Welcome Back</div>
      <button class="add-stage-btn" (click)="navigateToAjouterStage()">+ AJOUTER UN ETUDIANT</button>
    </section> -->
    <h1 class="m-5 text-center">Les rapports de stages <small class="text-danger">(en cours)</small> </h1>

    <div class="container text-center">
      <div class="row">
        <div class="col">
            <div class="card m-2 bg-warning" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>


        <div class="col">
           <div class="card m-2 bg-warning" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>


        <div class="col">
           <div class="card m-2 bg-warning" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
      </div>
    </div>

  
    
  </main>

   

</div>