<header class="user-profile-menu ">
  <div class="header-top ">
        <div class="profile-picture">
            <img *ngIf="imageUser" 
                [src]="'data:image/jpeg;base64,'+imageUser" 
                alt="Profile Picture" 
                width="40px" />
            <div class="details">
                <span class="info-perso">{{connectedUser.prenom}} {{connectedUser.nom}}</span>
                <span class="user-email">{{emailUser}}</span>
            </div>
          </div>
        <div>
          <i class="fas fa-power-off" (click)="logout()"></i>
        </div>
    </div>    
</header>
