.user-profile-menu {
  height: 100px;
  cursor: pointer;
  position: fixed;
  background-color: #64748b1d;
  padding: 0 20px;

  width: 100vw;
    .header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

  
      .profile-picture {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .details{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-left: 50px;
        }
        .info-perso{
          font-size: 20px;
          font-weight: bold;
        }
        .user-email{
          font-size: 17px;

        }
      }

    }
    .fas{
      font-size: 2.5rem;
      font-weight: 800;
      padding-top: 12px;
    }
  
  }
  /* .user-profile-menu:hover .profile-details {
    opacity:1;
    transform: translateY(0);
  } */