<div class="div-button">
    <div class="part-btn-click">
        <div class="desc" (click)="openModal()">
            <p>Cliquez pour joindre une salle de discussion</p>
        </div>
        <button class="btn">Commencer un chat</button>
    </div>
</div>


<div class="modal" tabindex="-1" #modalogin>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">S'authentifier</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userLogin">
                <div class="mb-3">
                    <label class="form-label">email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">mot de passe</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="authenticate()">Soumettre</button>
        </div>
      </div>
    </div>
  </div>