.div-container{
    display: flex;
    height: 100vh;
}
main{
    flex-grow: 1;
    background: #e9ecf0;
    padding: 20px;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh; /* Occupe toute la hauteur de la vue */
 
  background-color: #fcfcfc;
  box-shadow: var(--shadow-md); /* Optionnel pour un effet visuel */
  z-index: 1000; /* Assure que la sidebar reste au-dessus du contenu */
}