.app-container {
    margin: 0 0 0 250px; /* Supprime les marges par défaut */
    padding: 0;
    /* background-color: #ecf0f1;  */
    min-height: 100vh; /* Assure que le conteneur prend toute la hauteur de l'écran */
  
  }
  
  *, *:before, *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    form {
      max-width: 300px;
      margin:  auto;
      padding: 10px 20px;
      background: #CEDDDE;
      border-radius: 8px;
    }
    
    h1 {
      margin: 0 0 30px 0;
      text-align: center;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
      background: rgba(255,255,255,0.1);
      border: none;
      font-size: 16px;
      height: auto;
      margin: 0;
      outline: 0;
      padding: 15px;
      width: 100%;
      background-color: #e8eeef;
      color: black;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      margin-bottom: 30px;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
      margin: 0 4px 8px 0;
    }
    
    select {
      padding: 6px;
      height: 32px;
      border-radius: 2px;
    }
    
    button {
      padding: 13px 33px 12px 33px;
      color: #FFF;
      background-color: #27C7D4;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      border-radius: 15px;
      width: 100%;
      margin-bottom: 10px;
      cursor: pointer;
      border:none;
    }
    button:hover{
      background-color: #A7E0E0;
    }
    
    fieldset {
      border: none;
    }
    
    legend {
      font-size: 1.4em;
      margin-bottom: 10px;
    }
    
    label {
      display: block;
      margin-bottom: 8px;
    }
    
    label.light {
      font-weight: 300;
      display: inline;
    }
    
    .number {
      background-color: #27C7D4;
      color: #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 4px;
      line-height: 30px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.2);
      border-radius: 100%;
    }
    
    @media screen and (min-width: 480px) {
    
      form {
        max-width: 950px;
      }
    
    }
    .fieldsets{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .fieldset{
      width: 45%;
      height: 550px;
    }
    


     
/* style pour side bar */

.sidebar {
  width: 250px;
  background-color: #CEDDDE;
  color: #43A3DB;
  padding: 20px;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebar-title {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

 

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #9CD2D5;
}

.nav-item .icon {
  margin-right: 10px;
  font-size: 1.2rem;
}
