<div class="app-container">
  <div class="sidebar">
    <app-side-bar-etudiant></app-side-bar-etudiant>
  </div>
  <main class="pt-4">
    <form #stageForm="ngForm" >
      <h1>Ajouter un Stage</h1>
      <div class="fieldsets">

        <div  class="fieldset">
          <legend><span class="number">1</span> Informations sur l'Entreprise</legend>
          <label for="nomEntreprise">Nom de l'entreprise :</label>
          <input type="text" id="nomEntreprise" name="nomEntreprise" required>

          <label for="adresse">Adresse :</label>
          <input type="text" id="adresse" name="adresse" required>

          <label for="numTel">Numéro de téléphone :</label>
          <input type="tel" id="numTel" name="numTel" required>
        </div>

        <div class="fieldset">
          <legend><span class="number">2</span> Détails du Stage</legend>
          <label for="nomEncadrant">Nom de l'encadrant :</label>
          <input type="text" id="nomEncadrant" name="nomEncadrant" required>

          <label for="intituleSujet">Intitulé du sujet :</label>
          <input type="text" id="intituleSujet" name="intituleSujet" required>

          <label for="description">Description du sujet :</label>
          <textarea id="description" name="description" required></textarea>

          <label for="typeStage">Type de stage :</label>
          <select id="typeStage" name="typeStage" required>
            <option value="initiation">Initiation</option>
            <option value="pfa">PFA</option>
            <option value="pfe">PFE</option>
          </select>
        </div>
      </div>

      <button type="submit">Ajouter</button>
    </form>
  </main>
</div>