<div class="overlay ">
   <form [formGroup]="userLogin">
      <div class="con">
         <header class="head-form">
            <h2>Log In</h2>
            <p>login here using your username and password</p>
         </header>
         <br>
         <div class="field-set">
            <span class="input-item">
               <i class="fa fa-user-circle"></i>
            </span>
            <input class="form-input" id="txt-input" type="text" placeholder="@UserName" formControlName="email" required>
            <br>
            <span class="input-item">
               <i class="fa fa-key"></i>
            </span>
            <input class="form-input" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password" id="pwd"
               name="password" formControlName="password" required>
            <span>
               <i class="fa" aria-hidden="true" type="button" id="eye" (click)="togglePasswordVisibility()"
                  [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'">
               </i>
            </span>

            <br>
            <button class="log-in" (click)="authenticate()"> Log In </button>
         </div>

        
      </div>
   </form>
</div>