<div class="div-container">
  <div class="sidebar">
    <app-side-bar-admin></app-side-bar-admin>
  </div> 

    <main class="main-content">
      <h2 class="text-center my-5" >Ajouter un étudiant</h2>
      <div class="add-student-container">
        <form (ngSubmit)="onSubmit()" #studentForm="ngForm" class="row">
          <div class="form-group col-4 mb-5">
            <label for="nom" class="form-label">Nom </label>
            <input
              type="text"
              id="nom"
              name="nom"
              [(ngModel)]="etudiant.nom"
              required
              class="form-control"
            />
          </div>
          <div class="form-group col-4 mb-5">
            <label for="prenom"  class="form-label">Prénom</label>
            <input
              type="text"
              id="prenom"
              name="prenom"
              [(ngModel)]="etudiant.prenom"
              required
              class="form-control"
            />
          </div>
    
      
          <div class="form-group col-4 mb-5">
            <label for="email"  class="form-label">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="etudiant.email"
              required
              class="form-control"
            />
          </div>

          <div class="form-group col-4 mb-5">
            <label for="pswrd"  class="form-label">Mot de passe</label>
            <input
              type="password"
              id="pswrd"
              name="pswrd"
              [(ngModel)]="etudiant.password"
              required
              class="form-control"
            />
          </div>

          
          <div class="form-group col-4 mb-5">
            <label for="phone"  class="form-label">Téléphone</label>
            <input
              type="text"
              id="phone"
              name="phone"
              [(ngModel)]="etudiant.telephone"
              required
              class="form-control"
            />
          </div>
      
 
          <div class="form-group col-4 mb-5">
            <label for="gender"  class="form-label">Genre</label>
            <select
              id="gender"
              name="gender"
              [(ngModel)]="etudiant.genre"
              required
              class="form-control"
            >
              <option value="HOMME">Masculin</option>
              <option value="FEMME">Féminin</option>
            </select>
          </div>

          <div class="form-group col-4 mb-5">
            <label for="filiere"  class="form-label">Filiere</label>
            <select
              id="filiere"
              name="filiere"
              [(ngModel)]="etudiant.filiere"
              required
              class="form-control"
            >
              <option value="INFO">Informatique</option>
              <option value="INDUS">Industriel</option>
              <option value="SEII">Système Embarqué</option>
              <option value="MECA">Mécanique</option>
            </select>
          </div>
          
          <div class="form-group col-4 mb-5">
            <label for="filiere"  class="form-label">Année Etude</label>
            <select
              id="filiere"
              name="filiere"
              [(ngModel)]="etudiant.anneeEtude"
              required
              class="form-control"
            >
              <option value="PREMIEREANNEE">Première Année</option>
              <option value="DEUXIEMEANNEE">Deuxième Année</option>
              <option value="TROISIEMEANNEE">Troisième Année Embarqué</option>
            </select>
          </div>

          <div class="form-group col-4 mb-5">
            <label for="image"  class="form-label">Image</label>
            <input
              type="file"
              id="image"
              name="image"
              (change)="onFileSelected($event)"
              required
              class="form-control"
            />
          </div>
          
       <!--
          <div class="form-group">
            <label for="imageUrl">URL de l'image</label>
            <input
              type="text"
              id="imageUrl"
              name="imageUrl"
              [(ngModel)]="student.imageUrl"
              class="form-control"
            />
          </div>-->
      
          <button type="submit" class="btn btn-primary my-4" [disabled]="!studentForm.form.valid">
            Ajouter
          </button>
      
          <!-- Message de succès ou d'erreur -->
           <!--
           <div *ngIf="message" class="alert" [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">
            {{ message }}
          </div>
          -->
         
        </form>
      </div>
    </main>
</div>