<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="password-form-container">
    
    <div class="password-form-card">
      <h2>Changer le mot de passe</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="current-password">Mot de passe actuel</label>
          <div class="input-wrapper">
            <i class="fas fa-lock input-icon"></i>
            <input type="password" id="current-password" placeholder="......................" [(ngModel)]="currentPassword" name="currentPassword">
          </div>
        </div>
        <div class="input-group">
          <label for="new-password">Nouveau mot de passe</label>
          <div class="input-wrapper">
            <i class="fas fa-lock input-icon"></i>
            <input type="password" id="new-password" placeholder="......................" [(ngModel)]="newPassword" name="newPassword">
          </div>
        </div>
        <div class="input-group">
          <label for="confirm-password">Retapez le nouveau mot de passe</label>
          <div class="input-wrapper">
            <i class="fas fa-lock input-icon"></i>
            <input type="password" id="confirm-password" placeholder="......................" [(ngModel)]="confirmPassword" name="confirmPassword">
          </div>
        </div>
        <button type="submit">CHANGER</button>
      </form>
    </div>
  </div>
