


.password-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #CEDDDE;
    min-height: 100vh;
  
}

.password-form-card {
    background-color: #ecf0f1;
    border-radius: 0.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 24rem; /* Largeur maximale du formulaire */
    padding: 2rem;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4b5563;
    margin-bottom: 0.25rem;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #6b7280;
    font-size: 1rem; /* Taille de l'icône */
}

.input-group input {
    width: 100%; /* Largeur à 100% du conteneur parent */
    padding: 0.75rem 0.75rem 0.75rem 2.5rem; /* Ajustement du padding pour l'icône */
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.2s ease;
    font-size: 0.875rem;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.input-group input:focus {
    background-color: white;
    border-color: #8B4C45;
    box-shadow: 0 0 0 3px rgba(139, 76, 69, 0.1);
}

button {
    width: 100%;
    background-color: #27C7D4 ;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    letter-spacing: 0.025em;
    transition: background-color 0.2s ease;
    cursor: pointer;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

button:hover {
    background-color: #A7E0E0;
}