
<aside class="sidebar"> 
    <h2 class="sidebar-title">GESTION DES STAGES</h2>
    <nav class="nav-links">
      <a class="nav-item" routerLink="/admin-home">
        <i class="icon">🏚️</i>
        <span class="text">Accueil</span>
      </a>
      <a class="nav-item" routerLink="/dashboard"> 
        <i class="icon">🏠</i>
        <span class="text">Dashboard</span>
      </a>
      <a class="nav-item" routerLink="/rapports"> 
        <i class="icon">📊</i>
        <span class="text">Rapports</span>
      </a>
      <a class="nav-item" routerLink="/students/list"> 
        <i class="icon">🎓</i>
        <span class="text">Gestion des étudiants</span>
      </a>
      <a class="nav-item" routerLink="/enseignants/list"> 
        <i class="icon">👨‍🏫</i>
        <span class="text">Gestion des enseignants</span>
      </a>
      <a class="nav-item" routerLink="/archive"> 
        <i class="icon">📂</i>
        <span class="text">Archivage des rapports</span>
      </a>
      <a class="nav-item" routerLink="/parametrage"> 
        <i class="icon">⚙️</i>
        <span class="text">Paramétrage</span>
      </a>
    </nav>
  </aside>
  