
<!-- Dans votre index.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="sidebar">
  <!-- Sidebar avec icônes modifiées -->
<a class="nav-item" routerLink="/espace-etudiant">
  <i class="icon fas fa-graduation-cap"></i> <!-- Icône diplôme pour l'espace étudiant -->
  <span class="text">Accueil</span>
</a>
<a class="nav-item" routerLink="/ajoutStage">
  <i class="icon fas fa-plus-circle"></i> <!-- Icône ajout/plus pour ajouter un stage -->
  <span class="text">Ajouter un stage</span>
</a>
<a class="nav-item" routerLink="/listeStages">
  <i class="icon fas fa-briefcase"></i> <!-- Icône mallette/travail pour les stages -->
  <span class="text">Votre stage</span>
</a>
<a class="nav-item" routerLink="/updateprofile">
 <i class="icon fas fa-user-edit"></i> 
 <span class="text">Compléter profile</span>
</a>

</div>

