<aside class="sidebar">
    <h2 class="sidebar-title">GESTION DES STAGES</h2>
    <nav class="nav-links">
      <a class="nav-item" routerLink="/espace-etudiant">
        <i class="icon">🏚️</i>
        <span class="text">Accueil</span>
      </a>
      <a class="nav-item" routerLink="/ajouterStage">
        <i class="icon">📝</i>
        <span class="text">Ajouter un stage</span>
      </a>
      <a class="nav-item">
        <i class="icon">📄</i>
        <span class="text">Votre stage</span>
      </a>
      <a class="nav-item" routerLink="/deposerStage">
        <i class="icon">📥</i>
        <span class="text">Déposer le rapport</span>
      </a>
    </nav>
  </aside>